/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  margin: auto;
  padding: 0 1rem;
  max-width: 1400px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 2.25rem; line-height: 1.2; }
h2 { font-size: 2rem; line-height: 1.25; }
h3 { font-size: 1.75rem; line-height: 1.3;  }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: .07rem; }
h5 { line-height: 1.5;
  line-height: 1.6;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 .5rem 0;
 }
h6 {
  line-height: 1.6;
  text-transform: uppercase;
  font-size: .825rem;
  font-weight: 400;
  margin: 1rem 0 .5rem 0;
 }

p {
  margin-top: .5rem;
}
p.aftertitle {
  margin-top: -.5rem;
  margin-bottom: 2rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  background: #3d70b2;
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 400;
  height: 2.4rem;
  letter-spacing: .1rem;
  line-height: 1.125;
  padding: .5rem 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: border .3s,color .3s,background-color .3s;
  -moz-transition: border .3s,color .3s,background-color .3s;
  -o-transition: border .3s,color .3s,background-color .3s;
  -ms-transition: border .3s,color .3s,background-color .3s;
  transition: border .3s,color .3s,background-color .3s;
}

.site-btn-sec {
  background: #41d6c3;
  color: #000;
}

.button:focus {
  outline: 0;
}

.button:hover {
  color: #000;
  background: #33c3f0ab;
}

.button.inarow {
  float: left;
  margin-right: 1rem;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="number"],
input[type="text"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="number"],
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 400; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

input[type="number"].entryerr,
input[type="text"].entryerr,
textarea.entryerr,
select.entryerr {
  border: 1px solid red;
}
p.entryerr {
  color: red;
  font-weight: bold;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: square inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 3rem;}
li {
  margin-bottom: .5rem;
  text-indent: -1.5rem;
  margin-left: 1.5rem;
 }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: .5rem 1rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
input,
textarea,
select,
fieldset,
p,
ul,
ol,
form {
  margin-bottom: .5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bordered {
  margin-top: 1rem;
  border-width: 0;
  padding-top: .5rem;
  border-top: 1px solid #E1E1E1; }
.bordered.short {
  margin-top: 0;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
